body {
    /*//padding-top: 70px;*/
    padding-bottom: 70px;
    background-color: white;
    /*color: #FFFFFF;*/
}

.panel {
    color: black;
}

.chart {
    background-color: #5B9BD5;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-group {
    margin-bottom: 3px;
    background-color: #009dd6;
}

.highlight {
    border: 1px solid #009dd6;
}

.customColor {
    color: #ffffff;
}

.highcharts-yaxis-title {
    color: #ffffff !important;
    fill: #ffffff !important;
}

.cutombutton {
    font-size: 25px;
    font-weight: bold;
    background-image: url('/Images/Play2.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
}

.tab {
    height: 480px;
}

.location_div {
    margin-bottom: 20px;
    background-color: #00B050;
}

    .location_div h4 {
        color: black !important;
    }

.truckinfo_div {
    margin-bottom: 20px;
    margin-left: 15px;
    background-color: #92D050;
    color: black !important;
}

.currentsesor_div {
    margin-bottom: 20px;
    margin-left: 15px;
    background-color: #0070C0;
    color: black !important;
}

.thumbnail {
    margin-top: 10px;
    height: 70px;
    width: 70px;
    vertical-align: middle;
    border: 1px red solid;
}

#truckmenu.nav li.active a {
    background-color: #1C3052 !important;
    color: white;
    margin-left:15px;
}

#truckmenu.nav li a {
    background-color: #428BCA !important;
    color: white;
    border: 1px white solid;
}

/*#truckmenu.nav li.active a:hover{
    background-color:#1C3052   !important;
    color:white;
}*/

.popover-content {
    background-color: #FFF162;
    color: black;
    font-size:15px;
}

.popover.right .arrow:after {
    border-right-color: #FFF162;
}

.popover.bottom .arrow:after {
    border-bottom-color: #FFF162;
}

.popover.top .arrow:after {
    border-top-color: #FFF162;
}

.popover.left .arrow:after {
    border-left-color: #FFF162;
}

.popover-title {
    background-color: #FFF162;
    color: black;
    font-weight: bold;
}
.popover-navigation {
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    text-align: right;
    background-color: #FFF162;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 30px;
    background-image:none;
    text-align:center;
    vertical-align:middle;
    border:none;
}
.navbar-default{
    border:none !important;
    background-image:none;
}
.navbar {
    min-height: 30px !important;
}

.navbar-nav > li.active > a{
    color:white !important;
    background-image:none !important;
}

.navbar-nav > li.active > a:hover{
    color:white !important;
    background-image:none !important;
}
button.btn.btn-info.btn-xs{
    background-color:#1C3052 !important;
}

.btn-info{
    background-color:#1C3052 !important;
    background-image:none !important;
    border-color:transparent !important;
}
.panel-heading{
    background-color:white;
}
.panel-success{
     background-color:white;
}


